
.char-card {
    border-bottom: 1px solid grey;
    height: 30px;
    cursor: pointer;
    user-select: none;
}

.char-card:hover {
    background-color: lightskyblue;
}
.char-card:active {
    background-color: gold;
}