.listNode {
    animation: litNodeAnimation 0.5s;
    line-height: 24px;
}
.list {
    position: fixed;
    z-index: 999;
    font-size: 18px;
    top: 6px;
    text-align: center;
    color: whitesmoke;
}

@keyframes litNodeAnimation {
    0% {
        line-height: 0px;
        opacity: 0;
    }
    100% {
        line-height: 24px;
        opacity: 1;
    }
}