
.background {
    background: #213141;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;

    animation: backgroundAnimation 5s infinite;
}

@keyframes backgroundAnimation {
    0% {
        background: #213141;
    }
    33% {
        background: #193941;
    }
    66% {
        background: #193149;
    }
    100% {
        background: #213141;
    }
}