.listNode {
    animation: litNodeAnimation 0.5s;
    line-height: 24px;
}
.list {
    position: fixed;
    display: flex;
    z-index: 1000;
    font-size: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.filter {
    width: 100%;
    height: 100%;
    display: flex;
    background: gray;
    opacity: 0.5;
    filter: blur(10px);
}
.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@keyframes litNodeAnimation {
    0% {
        line-height: 0px;
        opacity: 0;
    }
    100% {
        line-height: 24px;
        opacity: 1;
    }
}