
.signin {
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: grey;
}
.signin:hover {
    color: lightskyblue;
}
.signin:active {
    color: gold;
}
/*.signin:visited {*/
    /*color: grey;*/
/*}*/