
.block, .nullBlock {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid gray;
    opacity: 0.7;
    user-select: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0 2px;
}

.block {
    cursor: pointer;
}

.nullBlock {
    background-color: lightskyblue;
    cursor: default;
}