.button, .input, .rect {
    border-radius: 4px;
    border: 1px solid whitesmoke;

    box-sizing: border-box;

    font-size: 18px;
    padding: 3px 6px;
}

.input {
    line-height: 20px;
}

.button, .rect {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    cursor: pointer;
}
.button:hover {
    border-color: lightskyblue;
    color: lightskyblue;
}
.button:active {
    border-color: darkseagreen;
    color: darkseagreen;
}
.card-list {
    height: 320px;
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
}
.card-list-enter, .card-list-appear {
    max-width: 240px;
    animation-duration: 1s;
    /*animation-fill-mode: both;*/
    animation-delay: 0s;
    animation-play-state: paused;
}

.card-list-enter.card-list-enter-active, .card-list-appear.card-list-appear-active {
    animation-name: cardAnimation;
    animation-play-state: running;
}

@keyframes cardAnimation {
    0% {
        max-width: 240px;
    }
    100% {
        max-width: 100%;
    }
}