.button, .input {
    border-radius: 4px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.input {
    line-height: 20px;
}


.button {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
.button:hover {
    border-color: lightskyblue;
    color: lightskyblue;
}
.button:active {
    border-color: gold;
    color: gold;
}